body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;

}

.top-wrapper {
    animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 2s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.mid-wrapper {
    animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 2.5s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.bot-wrapper {
    animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 3s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer-row {
    min-width: 100%;
    height: 75px;
    background-color: #2a7189;
    margin-top: 30px;
}

button {
    outline: none;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

hr {
    border: none;
    height: 5px;
    background-color: #2a7189;
}

.title-sub {
    font-size: 20px;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.tit-div {
    margin-left: 0;
}

.logo-div {
    margin-right: 0;
}

.project-list-header {
    padding-left: 20px;
    font-size: 40px;
}

.project-image {
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;;
}

.project-image:hover {
    cursor: pointer;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.project-image-btn {
    background: transparent;
    border: none !important;
    font-size: 0;
}

.project-image-btn {
    outline: none;
}

.project-label {
    font-size: 30px;
    font-weight: 700;
}

.project-repo-link {
    font-size: 15px;
}

.overflow-div {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.min-modal-footer {
    padding: 10px;
}

.big-modal-button {
    height: 40px;
    background-color: #2a7189;
    border-color: transparent;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}

.big-modal-button:hover {
    background-color: #add8e6;
}

.row-padded {
    margin-bottom: 15px;
}

.modal-col-bot-margin {
    margin-bottom: 10px;
}

.img-margin-right {
    margin-right: 100px;
}

.bottom-icon-left {
    padding-top: 5px;
    padding-left: 40%;
}

.bottom-icon-right {
    padding-top: 5px;
    padding-right: 40%;
}

@media (max-width: 991px) {
    .title {
        text-align: center;
    }

    .big-modal-button {
        width: 70%;
    }

}